<h1>Products Panel</h1>
<p>Manage your product here...</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Dish</th>
            <th scope="col">Name</th>
            <th scope="col">Count</th>
            <th scope="col">Total Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Pizza</td>
            <td>Neapolitana</td>
            <td>2</td>
            <td>123</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Sushi</td>
            <td>Dragons</td>
            <td>1</td>
            <td>563</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Salad</td>
            <td>Cesair</td>
            <td>2</td>
            <td>85</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td colspan="3">Total Price : </td>
            <td>SUM</td>
        </tr>
    </tbody>
</table>